doctype html
html
    head
        meta(charset="utf-8")
        meta(meta name="viewport",content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")
        link(rel="stylesheet",href="/bundle.css")
        title #{title}
    body
        div#root
        script(src="/bundle.js")
