body{
  font-family: Verdana;
}
td.right{
    text-align:right;
}
span{
  font-weight: bold;
}
label{
  font-size:10px;
  font-weight: lighter;
}
.coinbox:nth-child(2n+1){
  background:#cecece;
}
.coinbox{
  display: flex;
  padding:5px;
}
.coinbox section{
  flex-grow:1;
  padding-left:5px;
}
.coinbox .loader{
  height:10px;
  width:10px;
}
.coinbox footer{
  font-size: 10px;
}
.coinbox aside{
  display: flex;
 align-items: center;
}
.valore,.quantita{
  float:right;
}
#reload{
  position: absolute;
  bottom:0;
  width:100%;
  height:50px;
}
.summary{
  padding:10px;
  text-align:center;
}


@-webkit-keyframes lds-ripple {
  0% {
    top: 90px;
    left: 90px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 15%;
    left: 15%;
    width: 150%;
    height: 150%;
    opacity: 0;
  }
}
@keyframes lds-ripple {
  0% {
    top: 90%;
    left: 90%;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 15%;
    left: 15%;
    width: 150%;
    height: 150%;
    opacity: 0;
  }
}
.lds-ripple {
  position: relative;
}
.lds-ripple div {
  box-sizing: content-box;
  position: absolute;
  border-width: 3px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(1) {
  border-color: #000000;
}
.lds-ripple div:nth-child(2) {
  border-color: #000000;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
